[submodule "opengamedata-core"]
	path = opengamedata-core
	url = https://github.com/opengamedata/opengamedata-core.git
[submodule "platform"]
	path = platform
	url = git@github.com:opengamedata/opengamedata-platform.git
[submodule "assets/extern"]
	path = assets/extern
	url = git@github.com:opengamedata/opengamedata-media-package.git
